<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="Navbar.css" />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="nav-position">
        <ul class="container-items">
          <li class="nav-items">
            <a class="a-nav" href="#">L'histoire de chartres</a>
          </li>
          <li class="nav-items">
            <a class="a-nav" href="#">Loisir a découvrir</a>
          </li>
          <li class="nav-items">
            <a class="a-nav" href="#">Besoin de votre avis</a>
          </li>
        </ul>
        <button class="btn-nav">Ville de Chartres</button>
        <div class="burger-btn">
          <div class="bars bars-1"></div>
          <div class=" bars bars-2"></div>
          <div class="bars bars-3"></div>
        </div>
      </div>
      <div class="toggle-menu">
        <ul class="ul-toggle-menu">
          <li class="items-toggle-menu">
            <a class="a-toggle-menu" href="#">L'histoire de chartres</a>
          </li>
          <li class="items-toggle-menu">
            <a class="a-toggle-menu" href="#">Loisir a découvrir</a>
          </li>
          <li class="items-toggle-menu">
            <a class="a-toggle-menu" href="#">Besoin de votre avis</a>
          </li>
        </ul>
      </div>
    </nav>
    <script src="./Navbar.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
  </body>
</html>
